:root{
    --color-hover-red:#861a1a;
    --color-hover-blue:#1c3c6d;
}
body{
    color: var(--color-hover-blue);
}
.navbar{
    background-color: #fffaf4 !important;
}



main{
    background-color: #fffaf4;
}

.nav-link{
    color:var(--color-hover-blue) !important;
    font-weight: 650;
    margin-left: 5px;
}

.nav-link:hover{
    color: var(--color-hover-red) !important;
}

.bg-teste {
    background-color: var(--color-hover-red);
    width: 100%;
    min-height: 70vh;
}

.bg-color {
    width: 100%;
    min-height: 10vh;
}

.bg-main{
     background-color: #fffaf4;
      width: 100%;
      min-height: 80vh;
      
}



.transparent-background {
    background: rgba(0, 0, 0, 0.5); /* Altere o último valor (0.5) para ajustar a transparência. */
    padding: 20px;
    text-align: center;
}



.btn-login{
    margin-left: 1rem;
    border: solid 1px;
    padding: 6px;
    border-radius: 12px;
    background-color: var(--color-hover-blue); /* Cor de fundo do botão */
    color: #fff !important; /* Cor do texto do botão */
    transition: background-color 0.9s ease !important; /* Transição suave da cor de fundo */
}


.btn-login:hover {
    background-color: #ffffff; /* Nova cor de fundo no hover */
    color: var(--color-hover-red)  !important;
    border: solid 1px;
    border-color: var(--color-hover-red) ;
    
}

.button{
    text-decoration: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 13px;
    background-color: var(--color-hover-blue); /* Cor de fundo do botão */
    color: #fff !important; /* Cor do texto do botão */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    user-select: none;
}


.button:hover {
    background-color: var(--color-hover-red); /* Nova cor de fundo no hover */
    color: #fff  !important;
    cursor: pointer;
    
}

video{
    border-radius: 10px;
    border: solid 1px;
}


.linha-branca {
      width: 100%;
      height: 2px;
      background-color: white;
    }
    .linha-preta {
      width: 100%;
      height: 2px;
      background-color: var(--color-hover-blue);
    }


.titulo-sobreposto {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background-color: var(--color-hover-red);
      padding-left: 22px;
      padding-right: 22px;
    }

    .titulo-sobreposto-preto {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-hover-blue);
      background-color: #fffaf4;
      padding-left: 22px;
      padding-right: 22px;
    }



/* -- Incio De card----*/

.carde {
      text-align: center;
      background-color: transparent;
      color: white;
      border: solid 2px;
      padding: 10px;
      margin-left: 30px;
      border-radius: 12px;
    }

    .carde:hover {
      transform: scale(1.1);
      transition: .3s;
    }

    .carde:not(:hover) {
    transform: scale(1); /* Reverte a transformação quando o mouse sai */
   transition: .3s;
   }

    .card-icon {
      font-size: 48px;
      margin-bottom: 10px;
    }

    .card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .card-rating {
      display: flex;
      justify-content: center;
    }

    .star {
      color: #f0c419;
      font-size: 18px;
      margin-left: 3px;
    }

    .card-subtitle {
        margin-top: 10px;
      font-size: 14px;
      margin-bottom: 10px;
    }


    .depoimento {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            border: solid #1c3c6d;
            background-color: #97bdf54a;
            border-radius: 5px;
            min-height: 400px;
            box-shadow: 6px 6px #1c3c6d84;
        }

        /* Estilos da foto do usuário */
        .foto-usuario {
            width: 100px;
            height: 100px;
            border: solid 2px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .nome-usuario{
          font-weight: 700;
          
        }


::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    
    border-radius: 6px; /* Borda arredondada */
    background-color: #1c3c6d;
}
::-webkit-scrollbar-track {
    background-color: #add3ff; /* Cor da faixa (track) da barra de rolagem */
}

/* Adicione uma regra de mídia para telas com largura máxima de 767px (tamanhos de celular) */
@media screen and (max-width: 767px) {
    
    main{  text-align: center;
        
    }

    video{
        width: 98%;
        height: 100%;
    }

   .carde {
     margin: 0;
      text-align: center;
      background-color: transparent;
      color: white;
      border: solid 2px;
      padding: 10px;
      border-radius: 12px;
    }
}


.none{display: none;}

.pop-up{
  height: 70vh;
}

.pop-up-1 {
  position: absolute;
  width: 400px;
  height: 480px;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column ;
  gap: 30px;
  background-color: #007bff;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);;
}

.popup .first-title{
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
}

.popup .dismiss-btn {
  margin-top: 15px;
}

.popup .dismiss-btn button {
  padding: 10px 20px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
  
}

.popup > div  {
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup.active > div {
  top: 0px;
  opacity: 1;
}


.popup.active .first-title{
  transition: all 400ms ease-in-out 400ms;
}

.popup.active .popup-image{
  transition: all 500ms ease-in-out 400ms;
}

.popup.active .title {
  transition: all 600ms ease-in-out 300ms;
}

.popup.active .descripton {
  transition: all 700ms ease-in-out 350ms;
}

.popup.active .dismiss-btn {
  transition: all 800ms ease-in-out 400ms;
}


.popup .popup-image img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  float: left; 
  margin-right: 20px; 
  padding: 10px;
}

.popup .popup-text {
  float: left; /* Adicione essa propriedade para alinhar o texto Ã  direita da imagem */
  width: calc(100% - 150px); /* Ajuste o valor conforme necessÃ¡rio para controlar a largura do texto */
}


.close button:hover{
  color: black;
  background: #f5f5f5;
  transition: all 300ms ease-in-out;
}


.descripton-title{
  text-align: left;
  font-weight: bold;
}

.descripton-text input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
  
}


.descripton-text {
  position: relative;
  text-align: center;
}


.descripton-text input{
 border-radius: 10px;
}

.descripton .title {
  text-align: left;
  font-weight: bold;
  padding: 5px;
}

/* Estilos para o grupo de rÃ¡dio */
.radio-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

/* Estilos para cada botÃ£o de rÃ¡dio */
.radio-item {
  
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-item input[type="radio"] {
  margin-right: 5px;
}

.radio-text {
  font-size: 16px;
  color: #333;
}

/* Estilos para quando o botÃ£o de rÃ¡dio estiver selecionado */
.radio-item input[type="radio"]:checked + .radio-text {
  color: #007bff; /* Cor quando selecionado */
}


.popup2{
  width: 400px;
  height: 450px;
  padding: 30px 20px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.5);
  text-align: center;
  padding: 0 30PX 30PX;
  color: #333;
  visibility: hidden;
  transition: transform 1s , top 1s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

/* .popup2 .img-tick{ 
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgb(0,0,0 ,0.2);
} */

.popup2 .img-thank-you img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  float: left; 
  margin-right: 20px; 
  padding-top:30px;
}

.popup2 .mensagem p {
  font-size: 18px;
  font-weight: normal;
  color: #007bff; /* Cor do texto */
  text-align: center;
  line-height: 1.5;
  padding: 20px;
  display: flex;
}


.popup2 button{
  width: 100%;
  padding: 10px 0;
  background: #095589;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgb(0,0,0 ,0.2);
}